<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand"> Welcome
    <%= @current_user.first_name %>
  </a>
  <h1 style="text-align: center; font-weight: bold">SENATE VOTING APPLICATION</h1>
  <div>
    <%= link_to root_path, class: "btn btn-outline-danger" do %>
      <i>Logout</i>
    <%end %>
  </div>

</nav>
<% if flash.any? %>
  <% flash.each do |type, msg| %>
    <div class="alert alert-success" role="alert" style="text-align: center; width: 25%; margin: 0 auto;">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<br>
<div class="voter_home_page_div">
    <h4 style="text-align: left; padding: 2%">Voting instructions</h4>
  <pre>
   PLEASE READ THE BELOW INFORMATION CAREFULLY.
   When you click the below "Vote now" button, you will be taken to the ballot page.
   You can either cast votes by voting for parties ("above the line") or for individual candidates ("below the line").
   NOTE: You can only vote above the line OR below the line, not both.
   If you are voting above the line, you MUST have AT LEAST 6 preferences (1 being highest preference).
   If you are voting below the line, you MUST have AT LEAST 12 preferences (1 being highest preference).
   Once you are happy with your preferences, click "Submit Vote".
  </pre>
</div>
<% if @current_user.has_voted %>
  <p style="text-align: center">Sorry, you have already voted.</p>
<% else %>
<%= button_to "Vote now", voter_ballot_page_path, method: "get", class: "btn btn-primary vote_now_button" %>
<% end %>


