<nav class="navbar navbar-light bg-light" style="display: block">
  <h1 style="text-align: center; font-weight: bold">SENATE VOTING APPLICATION</h1>
</nav>

<div class="login_page_div flex-container" style="flex-direction: column; justify-content: center">
  <div style="width: 100%">
    <%= button_to "Login as voter", voter_login_path, method: "get", class: "btn btn-primary btn-lg", style: "width: 20%"%>
  </div>
  <br>
  <div style="width: 100%">
    <%= button_to "Login as electoral commissioner", admin_voting_results_path, method: "get", class: "btn btn-primary btn-lg", style: "width: 20%" %>
  </div>
</div>
